<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.coertvonk.pool">

    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.coertvonk.opnpool.activities.MainActivity"
            android:label="@string/title_main"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coertvonk.opnpool.activities.EspMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.coertvonk.opnpool.activities.AddDeviceActivity"
            android:label="@string/title_activity_add_device"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.coertvonk.opnpool.activities.BLEProvisionLanding"
            android:label="@string/title_activity_connect_device"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.coertvonk.opnpool.activities.WiFiConfigActivity"
            android:label="@string/title_activity_wifi_config"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.coertvonk.opnpool.activities.ProvisionLanding"
            android:label="@string/title_activity_provision_landing"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.coertvonk.opnpool.activities.ProvisionActivity"
            android:label="@string/title_activity_provisioning"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.coertvonk.opnpool.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.coertvonk.opnpool.activities.WiFiScanActivity"
            android:label="@string/title_activity_wifi_scan_list"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.coertvonk.opnpool.activities.ProofOfPossessionActivity"
            android:label="@string/title_activity_pop"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>